/* 共通のリセットと基本的なスタイル */
body, html {
  padding: 0;
  margin: 0;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 10px;
  background: linear-gradient(to right, rgba(106, 130, 251, 0.8), rgba(252, 92, 125, 0.8));
  position: fixed;
  z-index: 100;
}

.SNS_icon a img {
  width: 70px;
  height: 70px;
  margin: 0 2rem;
}

.logo a img {
  margin-right: 3rem;
}


/* 全体写真 */
.hero-image{
    background-image: url(../img/bg-mainvisual.jpg);
    background-repeat: no-repeat;
    height: 450px;
    background-size: cover;
    width: 100%;
    background-position:  center;
    position: relative;
}

.hero-text{
  position: absolute;
  color: white;
  bottom: 5%;
  right: 5%;
  font-weight: bold;
}

/* 自己紹介 */
.profile{
  margin: 30px 0px;
}
.title{
  text-align: center;
  font-size: 40px;
  font-weight: bold;
  color: blue;
  margin: 3rem 0rem;
}


.profile img{
  width: 250px;
  height: 250px;
  display: block;  /* flex を block に変更 */
  margin: 0 auto;  /* 中央揃え */
  object-fit: cover;  /* コンテナに合わせてトリミングしつつアスペクト比を保持 */
  overflow: hidden;  /* はみ出した部分を隠す */
}

.my_name{
  text-align: center;
  font-size: 40px;
  font-weight: bold;
  margin-top: 2rem;
}
.profile ul{
    text-align: center;
    background-color: rgb(145, 202, 224);
    width: 600px;
    font-size: 1.2rem;
    padding: 0.8rem 2rem;
    margin: 1rem auto;
}

.profile ul li{
  line-height: 2;
}

.intro-text{
    background-color: rgb(145, 202, 224);
    width: 600px;
    margin: 2rem auto;
    font-size: 20px;
    padding:0.5rem 2rem; 
}

.intro-text p{
  padding: 1rem 1rem;
  line-height: 1.5;
  font-weight: 400;
}

/* チームメンバー */

.team ul{
  display: flex;
  justify-content: center;
}

.team ul li{
  background-color: lightgray;
  width: 300px;
  margin: 0px 3%;
  min-height: 400px;
  border-radius: 30px;
}

.team ul li h2{
    margin-top: 1rem;
    text-align: center;
    font-size: 1.2rem;
    font-weight: bold;
}

.team ul li div{
  padding-top: 1.5rem;
}
.team ul li div img{
  width: 150px;
  height: 150px;
  display: block;  /* flex を block に変更 */
  margin: 0 auto;  /* 中央揃え */
  border-radius: 50%;  /* 円形に */
  object-fit: cover;  /* コンテナに合わせてトリミングしつつアスペクト比を保持 */
  overflow: hidden; /* はみ出した部分を隠す */
}

.team ul li p{
  margin: 2rem 2rem;
  line-height: 1.5;
  font-size: 16px;
  font-weight: 500;
}

/* チームメンバー2 */

.team2 ul li{
  background-color: lightgray;
  display: flex;
  width: 500px;
  height: 170px;
  margin: 2rem auto;
  border-radius: 20px;
  padding: 1rem 1.5rem;
}

.team2-img{
  width: 120px;
  height: 120px;
  margin: auto 0;
}

.team2-img img{
  width: 100%;
  height: 100%;
  display: block;  /* flex を block に変更 */
  margin: 0 auto;  /* 中央揃え */
  border-radius: 50%;  /* 円形に */
  object-fit: cover;  /* コンテナに合わせてトリミングしつつアスペクト比を保持 */
  overflow: hidden; /* はみ出した部分を隠す */
}

.team2 ul li div h2{
  margin-top: 1.5rem;
  margin-bottom: 0.5rem;
  text-align: center;
  font-size: 1.2rem;
  font-weight: bold;
}

.team2 ul li div p{
  width: 300px;
  padding: 1rem 2.5rem;
  line-height: 1.4;
}
/* チームメンバー3 */
.team3 ul{
  display: flex;
  flex-direction: column;
  width: 700px;
  margin: 0 auto;
}

.team3 ul li{
  background-color: lightgray;
  display: flex;
  width: 500px;
  height: 170px;
  border-radius: 20px;
  margin: 1rem auto;
  padding: 1rem 1.5rem;
  justify-content: center;
}

.team3 ul li:nth-child(even) {
  flex-direction: row-reverse;
  margin-right: 0;  /* 右側のマージンを0にすることで、完全に右端に寄せる */
}

.team3-img{
  width: 120px;
  height: 120px;
  margin: auto 0;
}

.team3-img img{
  width: 100%;
  height: 100%;
  display: block;  /* flex を block に変更 */
  margin: 0 auto;  /* 中央揃え */
  border-radius: 50%;  /* 円形に */
  object-fit: cover;  /* コンテナに合わせてトリミングしつつアスペクト比を保持 */
  overflow: hidden; /* はみ出した部分を隠す */
}

.team3 ul li div h2{
  margin-top: 1.5rem;
  margin-bottom: 0.5rem;
  text-align: center;
  font-size: 1.2rem;
  font-weight: bold;
}

.team3 ul li div p{
  margin-left: 2.7rem;
  width: 300px;
  padding: 1rem 0;
  line-height: 1.5;
}

/* チームメンバー4 */

.team4-top{
  background-color: lightgray;
  width: 370px;
  height: 250px;
  border-radius: 20px;
  margin: 0 auto;
  padding: 0.5rem;
}

.team4 ul{
  display: flex;
  justify-content: center;
}

.team4-bottom{
  background-color: lightgray;
  width: 370px;
  height: 250px;
  border-radius: 20px;
  margin: 1.5rem 1rem;
  padding: 0.5rem;
}

.team4-img{
  width: 120px;
  height: 120px;
  margin: 0 auto;
}

.team4-img img{
  width: 100%;
  height: 100%;
  display: block;  /* flex を block に変更 */
  margin: 0 auto;  /* 中央揃え */
  border-radius: 50%;  /* 円形に */
  object-fit: cover;  /* コンテナに合わせてトリミングしつつアスペクト比を保持 */
  overflow: hidden; /* はみ出した部分を隠す */
}
.team4 div div h2{
  padding-top: 1rem;
  margin-bottom: 0.5rem;
  text-align: center;
  font-size: 1.2rem;
  font-weight: bold;
}
.team4 ul li div h2{
  padding-top: 1rem;
  margin-bottom: 0.5rem;
  text-align: center;
  font-size: 1.2rem;
  font-weight: bold;
}

.team4 div div p{
  padding: 0rem 0.5rem;
  line-height: 1.5;
}

.team4 ul li div p{
  padding: 0rem 0.5rem;
  line-height: 1.5;
}

/* チームについて */
.about-team div{
      background-image: linear-gradient(
        rgba(76, 130, 211, 0.8), 
        rgba(76, 130, 211, 0.8)
      ),
      url(../img/about-team.jpg);
      background-repeat: no-repeat;
      height: 400px;
      margin: 0 auto;
      background-size: cover;
      width: 700px;
      position: relative;
      border-radius: 100px;
      padding: 2rem 1.7rem;
      line-height: 1.5;
      font-size: 18px;
      font-weight: bold;
      border: 5px solid rgb(54, 119, 215);
}

/* BeReal */

.my_bereal{
  width: 600px;
  height: 960px;
  margin: 4rem auto;
  background-color: black;
  color: white;
  padding: 2rem 3rem;
}

.bereal-profile{
  display: flex;
  align-items: center;
}

.bereal-profile div{
  line-height: 2;
  margin-bottom: 1.5rem;
  margin-right: 1.5rem;
}

.bereal-profile div img{
  width: 100px;
  height: 100px;
  display: block;  /* flex を block に変更 */
  border-radius: 50%;  /* 円形に */
  object-fit: cover;  /* コンテナに合わせてトリミングしつつアスペクト比を保持 */
  overflow: hidden; /* はみ出した部分を隠す */
}

.bereal-profile div h1{
    font-weight: bold;
    font-size: 20px;
}

.bereal-profile div p{
  opacity: 0.7;
}

.bereal-image{
    background-image: url(../img/BeReal-background.jpg);
    background-size: cover;  /* 背景画像が要素を完全に覆うように */
    background-repeat: no-repeat;  /* 背景画像が繰り返されないように */
    background-position: center;
    width: 600px;
    height: 700px;
    position: relative;  /* 位置関係の基準点 */
    border-radius: 20px;
    border: 3px solid white;
}
  
.bereal-image img{
    position: absolute;
    top: 3%;  /* 上から50%の位置に配置 */
    left: 3%;  /* 左から50%の位置に配置 */
    width: 30%;
    height: 31%;  /* 画像の自然な高さに */
    border-radius: 20px;
    border: 3px solid black;
    object-fit: cover;
}

.bereal-comment{
  line-height: 2;
  padding-top: 0.5rem;
  padding-left: 1.5rem;
}

.bereal-comment p{
  font-weight: bold;
  font-size: 20px;
}

.bereal-comment h2{
  opacity: 0.7;
}

/* フッター */
.footer{
  background: linear-gradient(to right, rgba(106, 130, 251, 0.8), rgba(252, 92, 125, 0.8)); /* グラデーションの方向と色、透明度を設定 */
  color: white;
  font-size: 1.4rem;
  padding-top: 2rem;
  height: 100px;
}

.footer h1{
  text-align: center;
  margin-bottom: 1.5rem;
}

.footer ul{
  display: flex;
  justify-content: center;
}

.footer ul li{
    padding: 0rem 3rem;
}
